node_modules/
package-lock.json
._app.js
._favicon.ico
._index.html
._flags.txt
._LICENSE
._robots.txt
._sitemap.xml
._viewer_en.html
._viewer_hu.html
._security.txt
._bootstrap.min.css_
._style.css
._templatemo.css
._enhu.svg
._gb.svg
._hu.svg
._asice.js
